/* ------共通部分 */
/* --------------------------------------------------------------セクション共通 */
.section-inner {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 80px 0 60px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* --------------------------------------------------------------------------- */
/* ------ヒーローエリア */
.hero {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
}

img.fv {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.fv-bg-overlay {
    position: absolute;
    inset: 0;
    background: rgba(var(--color-secondary) / 0.4);
    z-index: 0;
}

.fv-band {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: rgb(var(--color-primary));
    z-index: 1;
}

.hero-svg-wrap {
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateY(50%);
    display: flex;
    justify-content: center;
    z-index: 2;
}

.hero-svg-row {
    display: flex;
    gap: 24px;
    transform: translateX(calc(-140px - 24px - 70px));
    /* SVG幅+gap幅+SVG幅の半分を左にずらしている */
}

.hero-svg-row a {
    border-radius: 50%;
    overflow: hidden;
}

.hero-svg-row svg {
    width: 140px;
    height: auto;
    display: block;
    flex-shrink: 0;
}

.hero-contents {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: min(92%, 1000px);
    z-index: 3;
}

.hero-text-wrap {
    width: fit-content;
    margin: 0 auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 24px;
    color: rgb(var(--color-bg));
    /* 中のテキストをまとめて調整 */
    font-size: clamp(40px, 2.7vw, 48px);
}

.hero .text-hero {
    font-size: 1em;
}

.hero .text-subheading {
    font-size: 0.5em;
}




/* ------事業内容 */
.business-wrap-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    flex: 1;
}

.business-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}




/* ------私たちについて */
.about-us {
    width: 100%;
    background-color: rgb(var(--color-primary));
    --sub-title-color-secondary: var(--color-bg);
    --sub-title-color-primary: var(--color-bg);
}

.us-wrap {
    padding: 40px 40px;
    background-color: rgb(var(--color-bg));
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.us-img-wrap {
    flex: 1.25;
    min-width: 375px;
    width: 100%;

}

.us-wrap img {
    width: 100%;
    aspect-ratio: 3 / 2;
    object-fit: cover;
}

.us-text-contents {
    flex: 2;
    max-width: 42em;
    padding: 10px 0;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    color: rgb(var(--color-text));
}

.us-text-contents h2,
.us-text-contents h3 {
    color: rgb(var(--color-primary));
}

.us-text-contents p {
    line-height: 1.8;
}




/* ------施工実績 */
.works-contents {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.works-img img {
    width: 100%;
    aspect-ratio: 3 / 2;
    object-fit: cover;
}

.works-text a {
    display: inline;
}


/* ------会社概要 */
.about-company {
    width: 100%;
    padding-bottom: 90px;
    background-color: rgb(var(--color-secondary-pale));
}

.company-wrap {
    padding: 0 40px;
    display: flex;
    flex-direction: column;
}

.company-wrap iframe {
    width: 100%;
    aspect-ratio: 3 / 1;
}

.company-info {
    padding: 40px 0 0;
    display: grid;
    grid-template-columns: 300px 1fr;
}

.company-info dt,
.company-info dd {
    padding: 16px 0;
    border-bottom: 2px solid rgb(var(--color-primary));
}

.company-info dt {
    text-align: center;
    font-weight: 600;
}




/* -------------------------------------------------------------スマホ用 */
@media (max-width: 768px) {

    /* ------共通 */
    .section-inner {
        padding: 60px 20px 50px;
    }




    /* ------ヒーロー */
    .hero {
        height: 480px;
    }

    .fv-band {
        height: 60px;
    }

    .hero-svg-wrap {
        bottom: 60px;
    }

    .hero-svg-row {
        gap: 12px;
        transform: translateX(calc(-100px - 12px - 50px));
    }

    .hero-svg-row img {
        width: 100px;
    }


    .hero-text-wrap {
        font-size: clamp(32px, 5.208vw, 40px);
    }





    /* ------事業内容 */
    .business-wrap {
        flex-direction: column;
        gap: 30px;
    }

    .business-wrap-inner {
        width: 100%;
        gap: 20px;
    }




    /* ------私たちについて */
    .us-wrap {
        flex-direction: column;
        padding: 24px 40px;
        gap: 24px;
    }

    .us-img-wrap {
        min-width: unset;
    }

    .us-text-contents {
        align-self: stretch;
    }




    /* ------施工事例 */
    .works-contents {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }




    /* ------会社概要 */
    .company-wrap {
        padding: 0 20px;
    }

    .company-wrap iframe {
        aspect-ratio: 4 / 3;
    }

    .company-info {
        grid-template-columns: 120px 1fr;
    }

    .company-info dt,
    .company-info dd {
        padding: 12px 0;
    }
}



/* ヒーローキャッチを細かく調整 */
.br-sp {
    display: none;
}

@media (max-width: 580px) {
    .br-sp {
        display: inline;
    }
}